body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('tu-imagen-de-fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

#logo-container {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#logo-container:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00;
}

section {
    text-align: center;
    padding: 50px;
}

h1, h2 {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
}

.contact-info, .social-media {
    flex: 1;
    padding: 0 20px;
}

.social-media a {
    display: block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-media a:hover {
    color: #ffcc00;
}
